<h1>Edit Product</h1>
<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Title: <input type="text" value="<%= @product.name %>" />
  </div>  
  <div>
    Artist: <input type="text" value="<%= @product.artist %>" />
  </div>  
  <div>
    Year: <input type="text" value="<%= @product.year %>" />
  </div>  
  <div>
    Label: <input type="text" value="<%= @product.label %>" />
  </div>  
  <div>
    Price: <input type="text" value="<%= @product.price %>" />
  </div> 
  <div>
    Description: <input type="text" value="<%= @product.description %>" />
  </div>

  <div>
    Choose a supplier:
    <select name="supplier_id">
      <% @suppliers.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>
  </div>
  
  <div>
    <input type="submit" name="" value="Update Product" />
  </div>
</form>