<h1><%= @product.name %></h1>
<h2><%= @product.artist %></h2>
<h3><%= @product.year %></h3>
<h3><%= @product.label %></h3>
<h5><%= @product.description %></h5>
<h4><%= @product.price %></h4>
<a href="/products">Back to all products</a>